/*propriétés globale de mes boites*/

h2{
    margin-top: 100px;
}

.border-orange{
    border: 4px solid rgb(219, 111, 9);
}

.border-green{
    border: 4px
    solid rgb(6, 92, 3);
}

.border-purple{
    border: 4px solid rgb(91, 1, 99);
}

.border-blue{
    border: 2px solid blue;
}

.children{
    height: 50px;
    padding: 10px;
}

.padding-container{
    padding: 10px;
}

/*PROPRIETE FLEXIBLE*/







/*

Outils flex pour simuler les propriétés css des flexbox :
- https://codepen.io/enxaneta/full/adLPwv/
- https://demos.scotch.io/visual-guide-to-css3-flexbox-flexbox-playground/demos/

*/